<script type="text/javascript">
  $(document).ready(function(){
    $('input').focus();
  });
</script>

<h1>Listing domains (<%= @count %>)</h1>

<% form_for(@domain) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= will_paginate @domains %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Registered</th>
      <th>Suspended</th>
      <th>Status</th>
      <th>Created</th>
      <th>Expires</th>
      <th>Changed</th>
      <th>92 Days</th>
      <th>99 Days</th>
    </tr>
  </thead>
  <tbody>
    <%= render @domains %>
  </tbody>
</table>

<%= will_paginate @domains %>